<div class="row justify-content-md-center align-items-center content-login">
    <div class="col-6">
        <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
            <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="username" aria-describedby="emailHelp">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="!form.valid">Login</button>
        </form>
    </div>
</div>