<div class="row">
    <div class="col-md-12">
        <h2 #title>
            {{ ascenda?.title }}<br>
            <small>{{ ascenda?.description }}</small>
        </h2>
        <div class="dropdown-divider"></div>
    </div>
    <div class="col-md-3" *ngFor="let item of listado | async; let i = index">
        <ng-container *ngTemplateOutlet="holamundo2; context: { registro: item, valor1: 'atdetquizan' }"></ng-container>
        <!-- <span [ngSwitch]="item?.valor">
            <p *ngSwitchCase="2">
                Hola tipo 2
            </p>
            <p *ngSwitchCase="5">
                Hola tipo 5
            </p>
            <p [ngStyle]="{ 'font-size': '42px', 'color': 'red', 'background-color': 'blue' }" *ngSwitchDefault>
                {{ item?.valor }}
            </p>
        </span> -->

        <p [ngStyle]="{ 
            'font-size': '42px', 
            'color': (item?.valor > 3 ? 'red' : 'green'), 
            'background-color': 'blue' 
        }">
            {{ item?.valor }}
        </p>
        <app-card [index]="i" 
                  [indexSeleted]="index" 
                  [item]="item"
                  (selected)="onClickSelected($event)"></app-card>
    </div>
    <div class="col-md-12">
        <ng-content></ng-content>
    </div>
</div>

<ng-template #holamundo>
    <h4>Hola mundo</h4>
</ng-template>

<ng-template #holamundo2 let-atdetquizan="registro" let-item="valor1">
    <h4>Hola mundo 2, {{ atdetquizan?.title }}, {{item}} </h4>
</ng-template>
